{% extends "layout.njk" %}

{% block content %}
    <div class="error">
        <h1>Preencha todos os campos!</h1>
        <a href="/users" class='btn btn-primary'>voltar</a>
    </div>
{% endblock %}
